<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <title>{% block title %}Organismos{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {# Run `composer require symfony/webpack-encore-bundle`
        and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        {% endblock %}

    </head>
    <body style="display:flex;flex-direction:column;min-height:100vh;">
        <header style="background-color: white;border-bottom: 2px solid grey;">
            <figure style="display: inline;">
                <img src="{{ asset('/municipalidad.png')}}" style="width:10rem;height:5rem;">
            </figure>

            <h2 style="display: inline; margin-left:44rem;">Ejercicio-003</h2>
        </header>
        {% block nav %}
        {% endblock %}

        {% block body %}
            
        {% endblock %}
            <footer style="margin-top:auto;padding: 10px ; width: 100%; height: 48px; background-color: white;border-top:2px solid grey;margin: top 10px;" >
                <p style="text-align: center;">© Municipalidad de Paraná - Ejercicio 003 - 1.0 - 2021</p>
            </footer>
        
        
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
        {% endblock %}
        
    </body>
</html>
